/*
 * TRISTAN pipeline https://github.com/TRISTAN-ORF/TRISTAN
 */

// Manifest information (required for nf-core modules)
manifest {
    name            = 'nextflow-tristan-orf'
    author          = 'Svetlana Lebedeva'
    homePage        = 'https://github.com/slebedeva/nextflow-tristan-orf'
    description     = 'Nextflow wrapper for TRISTAN pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params {
    // Path to yml config which contains values 
    // for gtf, fasta, h5 and outdir
    ribotie_config = null
    // data folder
    data_folder = null
    // outdir (the yml one will be local in workdirs anyway)
    outdir = "results"
}

// set resource limits 
process {
    withLabel: gpu {
	clusterOptions = "-G v100:1 --ntasks-per-node=1 --cpus-per-task=1 --nodes=1 --partition=gpu"
	containerOptions = '--nv'
        accelerator = 1
        memory = 20.GB
        time = 10.h
    }
    withLabel: cpu {
        cpus = 4
        memory = 40.GB
        time = 10.h
    }
    resourceLimits = [
            memory: 40.GB,
            cpus: 4,
            time: 2.d
        ]
}

// set profiles
profiles {
    local {
        process.executor = 'local'
    }
    docker {
        docker {
            enabled = true
            fixOwnership = true
        }
    }
    singularity {
        singularity {
            enabled = true
            pullTimeout = '30m'
        }
    }
    slurm {
        process {
		executor = 'slurm'
		}
    }
    test {
        params {
		ribotie_config = "ribotie_config.yml"
		data_folder = "${projectDir}/input_folder"
		outdir = "${projectDir}/input_folder"
		}
    }
}

// enable container building on the fly 
//wave.enabled = true
